<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FreeFoodNearMe</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>       
        <nav class="navbar navbar-expand navbar-light" id="navbarTop">
                <a class="navbar-brand" href="~/">
                    <img src="~/Images/FreeFoodNearMeLogo.png" width="300" />
                </a>
                <div class="navbar-expand navbar navbar-container">
                    <ul class="navbar-nav nav">
                        <li class="nav-item" id="headerItem">
                            <a class="nav-link" href="~/"><b>Home</b></a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item" id="headerItem">
                            <a class="nav-link" href="~/Home/RegisterService"><b>Register Your Service</b></a>       
                            <div class="underline"></div>
                    </ul>
                </div>

                <div class="navbar navbar-expand logInArea">
                    <div class="navbar navbar-expand navbar-container">
                        <ul class="navbar-nav nav">
                            <li class="nav-item">
                                <a class="nav-link" id="logIn" href="~/Home/Login" data-balloon="This functionality is currently only for administrators" data-balloon-pos="down"><b>Log In</b></a>
                                <div class="underline"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="float-right" id="QUTLogoHeader">
                        <a href="https://www.qut.edu.au/">
                            <img src="~/Images/QUTLogo.png" width="80" />
                        </a>
                    </div>
                </div>
        </nav>         
    </header>

    <div class="pageContent">
        @RenderBody()
    </div>


    <footer class="footerArea">
        <div class="row footerContent">
            <div class="col-7 footerLeft">
                <div class="navbar-expand navbar-container">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="~/"><b>Home</b></a>
                            <div class="underline"></div>
                        </li>
                        <li><a>|</a></li>
                        <li class="nav-item">
                            <a href="~/Home/RegisterService"><b>Request Your Service</b></a>
                            <div class="underline"></div>
                        </li>
                        <li><a>|</a></li>
                        <li class="nav-item">
                            <a href="#"><b>Terms of Service</b></a>
                            <div class="underline"></div>
                        </li>
                        <li><a>|</a></li>
                        <li class="nav-item">
                            <a href="#"><b>Privacy Policy</b></a>
                            <div class="underline"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3 footerRight">
                <div class="navbar-expand navbar-container float-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="https://www.facebook.com/QUTBrisbane/"><i class="fa fa-facebook-f" style="font-size:30px"></i></a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/QUT"><i class="fa fa-twitter" style="font-size:30px"></i></a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.youtube.com/user/TheQUTube"><i class="fa fa-youtube" style="font-size:30px"></i></a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/qutrealworld/?hl=en"><i class="fa fa-instagram" style="font-size:30px"></i></a>
                            <div class="underline"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2 footerRight">
                <img src="~/Images/QUTLogo2.png" width="250" style="margin-top:-5px"/>
            </div>
        </div>
        <div class="copyright">
            &copy; @DateTime.Now.Year - Jason Chang n9182004 FreeFoodNearMe (This is a site for BEB801 project)
        </div>
    </footer>


    
    
</body>
</html>
