@using FreeFoodNearMe.Models
@model IEnumerable<FreeFoodNearMe.Models.Service>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/autocomplete.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap4.min.css" />
<script src="~/Scripts/autocomplete.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js" type="text/javascript"></script>


<div class="body-content">
    <div class="MainBanner">
        <div class="MainBannerMessageArea">
            The easiest way to find food banks near you
            <br />
            <svg height="10" width="400">
                <line x1="0" y1="5" x2="400" y2="5" style="stroke:white;stroke-width:2"></line>
            </svg>
            <br />
            <span style="font-size:20px">Our goal is to create a simplistic way for people to locate food and resources during their time of need</span>
        </div>
    </div>

    <div class="row homepageBottomContent">
        <div class="col-5 homepageBottomContentLeft">
            <div id="homepageSearchBox">
                <b>Find a service near you!</b>                
                <form autocomplete="off">
                    <div class="search autocomplete" style="width:300px;">
                        <input id="myInput" class="searchTerm" type="text" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <table id="example" class="table ResultsTable" style="width:100%">
                    <thead style="display:none">
                        <tr>
                            <th></th>
                            <th width="20%">Marker Icon</th>
                            <th width="80%">Service Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Service in Model)
                        {
                            <tr>
                                <td style="display: none">@Service.ServiceName</td>
                                <td width="20%"><img class="TableMarker" src="~/Images/marker.png" /></td>
                                <td width="80%">
                                    <p><b>@Service.ServiceName</b><br/>
                                        <i class="fa fa-home" aria-hidden="true"></i>&ensp; @Service.CompanyName &emsp; <i class="fa fa-phone" aria-hidden="true"></i>&ensp; @Service.ContactNumber
                                    </p>
                                    <hr/>
                                    <p>@Service.ServiceDescription</p>
                                    <a href="~/Home/ServiceDetails/@Service.Id" style="color:black; float: right">Read Full Details...</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-7 homepageBottomContentRight">
            <div id="map"></div>
        </div>
    </div>
</div>

<!---------------------------------------------------- Google Maps -------------------------------------------------------->

<script>
    var map;
    var googlemarkers = [];
    var marker;
    var i;
    var ServiceNames = JSON.parse('@Html.Raw(Json.Encode(ViewBag.ServiceNames))');
    autocomplete(document.getElementById("myInput"), ServiceNames);

    ServiceResults = $('#example').DataTable({
        "pageLength" : 3,
        "sDom" : 'tp',
        "columnDefs": [
            { "targets": [1, 2], "searchable": false }
        ]
    });

    $('#myInput').keyup(function () {
        ServiceResults.search($(this).val()).draw();
        for (i = 0; i < googlemarkers.length; i++) {
            marker = googlemarkers[i];

            if (marker.title.toUpperCase().includes($(this).val().toUpperCase()) || $(this).val() == "") {
                marker.setVisible(true);
            }
            else {
                console.log(marker.title);
                marker.setVisible(false);
            }
         }
    })
    
    function SearchChange(value) {
        ServiceResults.search(value).draw();
        for (i = 0; i < googlemarkers.length; i++) {
            marker = googlemarkers[i];

            if (marker.title.toUpperCase().includes(value.toUpperCase()) || value == "") {
                marker.setVisible(true);
            }
            else {
                console.log(marker.title);
                marker.setVisible(false);
            }
        }
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -27.469770, lng: 153.025131 },
            zoom: 10
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        @foreach (var Service in Model)
        {
        <text>
        var position = { lat: @Service.Lat , lng: @Service.Lng};
        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h3 id="firstHeading" class="firstHeading">@Service.ServiceName</h3>' +
            '<div id="bodyContent">' +
            '<p>@Service.ServiceDescription</p>' +
            '<p>For full details <a href="~/Home/ServiceDetails/@Service.Id">' +
            'click here</a></p>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });


        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: "@Service.ServiceName",
            info: contentString
        });

        googlemarkers.push(marker);

        google.maps.event.addListener(marker,'click', function () {
            infowindow.setContent(this.info)
            infowindow.open(map, this)
        });

        </text>
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2wkkFoJ8RNm10pHA8LU5e2_NAdCgJ2fY&callback=initMap"
        async defer></script>